#Next
NEXT_PUBLIC_BASE_URL=http://localhost:3000

#AI Backend (Nest)
NEXT_PUBLIC_API_URL=http://localhost:3200/api

#Auth
# AUTH_SECRET - used by NextAuth.js to sign and encrypt JWT tokens on the frontend
AUTH_SECRET="secret"

#Google
AUTH_GOOGLE_ID="secret"
AUTH_GOOGLE_SECRET="secret"
GOOGLE_REFRESH_TOKEN="secret"

#reCAPTCHA v3
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="secret"
