#Next
NEXT_PUBLIC_BASE_URL=http://localhost:3000

#AI Backend (Nest)
NEXT_PUBLIC_API_URL=http://localhost:3200/api

#Zitadel OIDC
NEXT_PUBLIC_ZITADEL_ISSUER="https://your-instance.zitadel.cloud"
NEXT_PUBLIC_ZITADEL_CLIENT_ID="your-client-id"
ZITADEL_CLIENT_ID="your-client-id"
ZITADEL_CLIENT_SECRET="your-client-secret"

#reCAPTCHA v3
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="secret"
